{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="ISO-8859-1">
    <meta name="description" content="Manejo de Camas"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- nuevos -->

    <meta name="msapplication-tap-highlight" content="no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="manejocamas">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Manejo Camas">
    <!-- Fin nuevos -->

    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Pagina Table</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static '/main.js' %}"></script>
<style>
.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
</style>

</head>

<body>
<br/>


<div class="row">


    <div class="col-xl-1"></div>

    <div class="col-xl-2" style="background-color: lavender;">

        <figure class="figure">
            <img src="{% static '/IMAGES/logo.jpg' %}" class="figure-img img-fluid rounded"
                 alt="...">
            <figcaption class="figure-caption text-right">FUNDACION
                HOSPITAL SAN CARLOS
            </figcaption>
        </figure>

    </div>

    <div class="col-xl-1"></div>


    <div class="col-xl-6" style="background-color: lavenderblush;">
        <div class="mx-auto" style="width: 1600px;">


            <p class="text-left">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mision:</p>


            Brindar una experiencia humanizada e integral en servicio de salud,
            a nuestros pacientes <br/> y sus familias, con altos estandares de
            calidad mediante el mejor talento humano <br/> generando impacto
            social y ambiental ... <br/> <br/>


            <p class="text-left">

                <bold>

                    <bold>
            </p>


        </div>
    </div>

    <div class="col-xl-1"></div>


    <div class="col-xl-2" style="background-color: lavender;"></div>

</div>

<div class="col-xl-1"></div>


<br/>
<br/>


<div class="container">
    <div class="card">


        <div class="card-block" align="center">
            <br>


            <table>
                <center>
                    <tr>
                        <td><font size="10"> HISTORIA CLINICA </font></td>

                    </tr>
            </table>
            <br>

            <form method="post">
                 <div class="myDiv" id="mensajes" > {{mensaje.mensaje}}</div>
                <select id="seleccion" name="seleccion">
                                {% for TipoDoc in TiposDoc %}
                                <option value="{{TipoDoc.MPTDOC}}"> {{TipoDoc.MPTDESC}}</option>
                                {% endfor %}
                </select>


                <input type="text" id="documento" name="documento" value=""/>
                <input type="date" id="Desde" name="Desde" value=""/>
                <input type="date" id="Hasta" name="Hasta" value=""/>

                <input type="submit"  value="Enviar"/>
            </form>
        </div>
    </div>

</div>
<script>
    function valida()
    {

    var datos = new FormData()

    var documento =document.getElementById("documento").value;
    var tipodoc =  document.getElementById("seleccion").value;


        datos.append('tipodoc',tipodoc);
        datos.append('documento',documento);

    alert("voy ajax");


        $.ajax({
            	   type: 'POST',
 	                url: window.location.pathname,
  	               data: datos ,
 	      		success: function (respuesta2) {
 	      		          var dato = JSON.parse(respuesta2);
 	      		          alert(dato);

                              $("#mensajes").html("Paciente No existe");
                          		},
 	      		error: function (request, status, error) {
 	      			alert(request.responseText);
 	      			alert (error);
 	      			$("#mensajes").html("Error Venta AJAX O RESPUESTA");
 	      		},
 	      		cache : false,
 	      		contentType : false,
 	      		processData: false,

 	        });




    }
</script>
</body>
</html>